* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
display: flex;
width: 100vw;
height: 10vh;
justify-content: space-evenly;
align-items: center;
text-transform: uppercase;

-webkit-box-shadow: 3px 5px 11px 0px rgba(0, 0, 0, 0.63);
-moz-box-shadow: 3px 5px 11px 0px rgba(0, 0, 0, 0.63);
box-shadow: 3px 5px 11px 0px rgba(0, 0, 0, 0.63);

background:#505050;
/* background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0.014443277310924318) 0%,
    rgba(105, 6, 113, 1) 0%,
    rgba(21, 22, 235, 1) 100%
); */
margin-bottom: 3%;
}



main{
    
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
}

div.card{
    background-color: rgb(255, 255, 255);

}